@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Elms Sans", sans-serif;
}
.socials:hover{
    transform: rotateZ('60deg');
}